*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family:"Dancing Script", serif;
    background-color: #e0dbbe;
    font-weight: 1000;
}

/* Navigation Bar*/
.nav-bar{
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    /*background-color: #b7b098;*/
}

.logo img{
    width: 80px;
    height: 100px;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
}

.nav-ul{
    display: flex;
    padding: 2px 2px 2px;
    margin: 2px 10px 2px 10px;
     
}
.nav-list{
    display: flex;
    margin: 0px 0px 0px 150px;
    
}

 .nav-list ul{
    list-style: none;  
}

.nav-list ul li{
    margin: 2px 20px 2px 20px;

}

.nav-list ul li a{
    text-decoration: none;
    color: #494128;
    font-weight: 2500;
    font-size: 25px;
}

.nav-list ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 13px;
    color: #494128;
}

ul li a:active{
    text-decoration: underline;
    text-underline-offset: 13px;

}


.nav-icons{
    margin: 0px 0px 0px 450px;
    font-size: 25px;
}

.nav-icons i{
    margin: 0px 20px 0px 20px;
    
}

/*main section*/
.main-content{
display: flex;
margin: 60px 0px 0px 0px;
}

.main-text{
    width: 1000px;
    height: 450px;
    margin: 10px 100px 10px 90px;
    padding: 2px 2px 2px 2px;
}

.headline{
    font-size: 35px;
    padding: 2px 2px 6px 2px;
}
.bold-line{
    font-size: 50px;
    padding: 2px 2px 2px 2px;
    font-weight: bolder;
    font-weight: 700;
}
.para{
    font-size: 30px;
    padding: 25px 2px 2px 2px;

}

button{
    width: 170px;
    height: 45px;
    background-color: #494128;
    color: #b7b098;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 0px 30px 30px 30px;
    margin: 25px 2px 2px 2px;
    cursor: pointer;  
    font-family: "Dancing Script", serif;
}

button:hover{
    background-color: #b7b098;
    color: #494128;

}

.cart::-webkit-scrollbar{
    display: none;
}

.cart{
    display: flex;
    margin: 20px 0px 0px 0px;
    overflow-x: auto;
}

.cart-box{
    border: 1px solid #494128;
    width: 270px;
    height: 420px;
    margin: 10px 10px 10px 10px;
    padding: 4px 4px 4px 4px;
    box-shadow: 5px 5px 5px #494128;
    cursor: pointer;
}
.cart-box:hover{
    box-shadow: 5px 5px 15px #494128;}

.shoe-image img{
    width: 258px;
    height: 310px;
    padding: 2px 2px 2px 2px;
}

.shoe-title{
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 5px;

}

.shoe-text{
    font-size: 18px;

}
.shoe-price{
    font-size: 22px;
    font-weight: bold;

}